body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.bgcontent{
    background-color: rgb(236, 244, 239);
   justify-content: center;
    padding: 100px;
    margin:0;
    height: auto;
    
}
.nav_bar{
    background-color: rgb(93, 131, 94);
    padding:1%;
    align-items: left;
}
.btn{
    background-color: rgb(93, 131, 94);
    border:none;
}
.btn:hover{
    color: black;
    background-color: rgb(93, 131, 94);
}
.container1{
    background-color: rgb(216, 231, 213);
    padding: 100px;
    height: auto;
    width:100%;
    text-align: center;  
}
.container1 h1{
    animation: slideIn 5s ease-in-out;
}
#image{
    justify-content: left;
    height: 80%;
    padding: 5%;
}
#content1{
    padding: 4%;
    align-items: start;
    justify-content: right;
}
.footer{
    position: relative;
   /* Negative value of footer height */
  height: 100px;
  clear: both;
  background-color: rgb(76, 84, 75);
}
@media (min-width: 768px) { 
    .container1, .bgcontent {
        font-size: 5px;
        padding: 8px;
        height: 50%;
        
    }
    #content1, #image {
        height: 50%;
        padding: 2%;
    }
}

/*large desktops*/
@media (min-width: 992px) { 
    .nav_bar {
        padding: 0.5%; 
    }
    .footer {
        padding: 10px 0; 
    }
}
@keyframes slideIn {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}